.single-cart{
    border: 1px solid rgb(238, 231, 231);
    border-radius: 20px;
    background-color: rgb(247, 232, 205);
    position: relative;
    height: 500px;
}
.single-cart img{
    height: 200px;
    width: 100%;
    border-radius: 20px;
}
.cart-info{
    padding-left: 20px;
    padding-right: 20px;
}
.btn-cart{
    width: 100%;
    background-color: orange;
    border: none;
    padding: 10px;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media only screen and (max-width: 600px){
    .single-cart{
        height: 500px;
    }
}
@media only screen and (min-width: 600px){
    .single-cart{
        height: 500px;
    }
}