.main-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(221, 213, 213);
}
.active-item{
    margin: 60px;
}
.first-name{
    color: goldenrod;
}
.last-name{
    color: skyblue;
}
.gym-cart{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 50px;
}
.cart-item{
    background-color: rgb(243, 208, 208);
    position: sticky;
    top: 0;
}


@media only screen and (max-width: 600px) {
    .main-container{
        display: flex;
        flex-direction: column;
    }
    .gym-cart{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
  }
  @media only screen and (min-width: 600px) {
    .main-container{
        /* display: grid;
        grid-template-columns: 4fr, 1fr; */
        display: flex;
        flex-direction: column;
    }
    .gym-cart{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
  }
  @media only screen and (min-width: 992px) {
    .main-container{
        display: grid;
        grid-template-columns: 4fr 1fr;
    }
    .gym-cart{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
  }